
/*global styles*/
body {
    margin: 0px;
}
/* nav styles*/
.main-nav {
    height: 75px;
    background-color: gray;
}

.main-nav:hover {
    height: 90px;
}

/* logo styles */
.logo {
    height: 56px;
    width: 100px;
    padding: 10px;
}

.logo:hover {
    width: 200px;
}

.no-list-style {
    list-style: none;
}

.margin-0-auto {
    width: 325px;
    display: block;
    margin: 0 auto;
}

/* nav list styles */
.nav-list {
    float: right;
    padding-right: 10px;
}

li {
    color: white;
    float: left;
    padding: 14px 16px;
}

.center {
    text-align: center;
    font-size: 18px;
}

.center:hover {
    font-size: 28px;
    width: 80px;
    height: 80px;
    padding: 8px 24px;
}

/* end nav-styles */

/* content style*/
.content {
    margin: 15px;
}

/*map and video embed styles */
iframe {
    display: block;
    width: 500px;
    height: 350px;
    margin: 0 auto;
}

/*audio bar styles*/
audio {
    padding: 15px;
}

/*embedded video syles
(not needed because both map and video
are styled in iframe class, but would be needed if
the video were a local file)
.video {
    display: block;
    width: 500px;
    height: 350px;
    margin: 0 auto;
    padding-top: 15px;
}*/

.button-success{
    background-color: green;
    border-radius: 10px;
    width: 150px;
}

.button-danger {
    border-radius: 10px;
    background-color: darkred;
    border: none;
}

.button {
    padding: 10px;
    font-size: 24px;
    border-radius: 10px;
    color: white;
    border: none;
    margin: 10px;
}

.button-small {
    width: 150px;
}

.button-large {
    width: 250px;
}

.button-default {
    background: #ccc;
    color: black;
}

span {
    background-color: yellowgreen;
}

.family > span > span{
    background-color: orange;
}

.second-span ~ .first-span {
    color: red;
}


/*end content styles*/

/*footer styles*/
.footer {
    display: absolute;
    margin-top: 10px;
    background-color:rgb(190, 188, 188);
}

ul.social-media > li {
    padding: 20px 24px;
}
/*social media styles*/
.social-media {
    height: 80px;
    margin-bottom: 0;
}

li {
    text-decoration: none;
}

/*all devices with screen width <= 768px*/
@media (max-width: 768px) {
    .button {
        font-size: 18px;
    }
}

/* all devices with screen width 768px-1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
   .button {
       font-size: 22px;
    }
}

/*overrides styles for devices with screen
@media (min-width: 1024px) and (max-width: 1024px) {
    .button {
        font-size: 20px;
    }
}




/*Below boxes were used to learn float properties*/
/**.blue {
    height: 100px;
    width: 200px;
    border: 1px solid black;
    margin: 2px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.clear-both {
    clear: both;
}*/
